<div style="text-align:center; margin-bottom:1.2rem; display: flex; justify-content: center; gap: 0.7rem; font-size: 1.08rem;">
  <span *ngIf="!showRegister" style="font-weight:bold; min-width: 100px;">Login</span>
  <a *ngIf="showRegister" href="#" (click)="$event.preventDefault(); showRegister = false" style="min-width: 100px; text-decoration: underline; cursor:pointer;">Login</a>
  <span style="color:#aaa;">|</span>
  <a *ngIf="!showRegister" href="#" (click)="$event.preventDefault(); showRegister = true" style="min-width: 100px; text-decoration: underline; cursor:pointer;">Registrieren</a>
  <span *ngIf="showRegister" style="font-weight:bold; min-width: 100px;">Registrieren</span>
</div>

<ng-container *ngIf="!showRegister">
  <form class="login-form" (ngSubmit)="onLogin()">
    <ui-input
      label="Username"
      placeholder="Username"
      [(ngModel)]="username"
      name="username"
      [required]="true"
    ></ui-input>
    <ui-input
      label="Passwort"
      type="password"
      placeholder="Password"
      [(ngModel)]="password"
      name="password"
      [required]="true"
    ></ui-input>
    <button type="submit">Login</button>
    <div *ngIf="error" class="error">{{ error }}</div>
  </form>
</ng-container>
<ng-container *ngIf="showRegister">
  <app-register></app-register>
</ng-container>
