<ng-container *ngIf="!isMobile">
  <header class="ui-header" [ngClass]="headerClass()">
    <span class="ui-header__logo">
      <a routerLink="/" style="text-decoration:none;color:inherit;cursor:pointer">
        <img src="/assets/images/logo.png" alt="OnePlatform Logo" style="height:2.2rem;vertical-align:middle;" />
        <span class="oneplatform-logo-text">OnePlatform</span>
      </a>
    </span>
    <button class="ui-header__burger" (click)="toggleNav()" aria-label="Menü öffnen/schließen">
      <span></span><span></span><span></span>
    </button>
    <div class="ui-header__nav-wrap" [class.open]="navOpen">
      <nav class="ui-header__nav">
        <a routerLink="/features" routerLinkActive="active" (mouseenter)="showPanel('features')">{{ t$('header.features')() }}</a>
        <a routerLink="/docs" routerLinkActive="active" (mouseenter)="showPanel('docs')">{{ t$('header.docs')() }}</a>
        <a routerLink="/contact" routerLinkActive="active" (mouseenter)="showPanel('contact')">{{ t$('header.contact')() }}</a>
        <a routerLink="/member" routerLinkActive="active">{{ t$('header.member')() }}</a>
      </nav>
      <div class="mega-panel" *ngIf="panelType"
        (mouseenter)="panelType = panelType"
        (mouseleave)="panelType = ''">
        <div class="mega-panel__content">
          <ng-container *ngIf="panelType === 'features'">
            <div class="mega-panel__section">
              <a routerLink="/features/search">{{ t$('features.search')() }}</a>
              <a routerLink="/features/lang">{{ t$('features.lang')() }}</a>
              <a routerLink="/features/chatassistant">{{ t$('features.chatassistant')() }}</a>
            </div>
          </ng-container>
          <ng-container *ngIf="panelType === 'docs'">
            <div class="mega-panel__section">
              <a routerLink="/docs" style="cursor:pointer">Getting Started</a>
              <a routerLink="/docs/api">API Reference</a>
            </div>
          </ng-container>
        </div>
        <feature-language-switcher class="mega-panel__lang-switcher" *ngIf="isMobile"></feature-language-switcher>
      </div>
    </div>
    <ui-search #searchCmp class="ui-header__search"></ui-search>
    <feature-language-switcher class="ui-header__lang-switcher"></feature-language-switcher>
  </header>
</ng-container>
<ui-header-mobile *ngIf="isMobile"></ui-header-mobile>
